{
  "root": true,
  "extends": ["next/core-web-vitals", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "comma-spacing": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/explicit-member-accessibility": "off",
    "import/extensions": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "no-underscore-dangle": 0,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "comma-dangle": 0,
    "react/require-default-props": 0,
    "@typescript-eslint/no-empty-function": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-curly-newline": 0,
    "implicit-arrow-linebreak": 0,
    "no-confusing-arrow": 0,
    "react/jsx-wrap-multilines": 0,
    "object-curly-newline": 0,
    "operator-linebreak": 0,
    "arrow-body-style": 0,
    "react/no-array-index-key": 0,
    "react/prop-types": 0,
    "no-plusplus": 0,
    "indent": 0,
    "function-paren-newline": 0,
    "react/jsx-indent": 0,
    "max-len": "off",
    "max-depth": ["error", { "max": 2 }],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling"],
          "object",
          "type",
          "index"
        ],
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": ["builtin"],
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "pathGroups": [
          {
            "pattern": "react**",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "before"
          }
        ]
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true
  }
}
